body {
    margin: 0 auto;
}

.fullscreen-video-background {
    background: #000;
    position: relative;
    width: 100%;
    z-index: -99;
    overflow: hidden;
    height: 100vh;
  }
  .fullscreen-video-background ._pattern-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.3;
    bottom: 0;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png);
    z-index: 2;
  }
  .fullscreen-video-background #_buffering-background {
    /* position: absolute; */
    width: 100%;
    top: 0;
    bottom: 0;
    background: #222;
    z-index: 1;
  }
  .fullscreen-video-background #_youtube-iframe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .fullscreen-video-background #_youtube-iframe-wrapper #_youtube-iframe {
    position: absolute;
    pointer-events: none;
    margin: 0 auto;
    height: 300vh;
    width: 120vw;
  }

  .no-padding_margin {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.btn {
    position: absolute;
    top: 80%;
    /* width: 50%; */
    /* opacity: 0.3; */
    /* left: 45%; */
}

.TESTAS {
    min-height: 100px;
    background-color: #211E20;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 100vh;
}

.TESTAS1 {
    min-height: 100px;
    background-color: #2B2633;
    min-height: 100vh;
}

#gallery {
    color: white;
    padding-bottom: 2%;
    font-size: 2rem;
}

.carousel-inner {
    max-height: 50vh;
    
}

/* .border {
    border: solid 1px #333; 
     height: 10vh;
} */

#faceOfKing {
    max-height: 100%;
    max-width: 100%;
}

th, td, span {
    color: white;
}

td {
    padding-left: 20px;
}

span {
    font-size: 2rem;
    
}

.runner {
    background-color: #000;
}

.catcher {
    background-color: #211E20;
}

label {
    color: white;
}
